body {
    background: url("../img/bg.png") center repeat;
}

* {
    box-sizing: border-box;
  }

.columns {
    display: flex;
}

.col {
    flex: 1;
    height: 100vh;
    padding: $spacer;
    position: relative;
}

.ren .bg{
    background: url("../img/transparent.png") no-repeat center ;
    background-size: contain;
    position: absolute;
    top: $spacer;
    bottom: $spacer;
    left: $spacer;
    right: $spacer;
}

.ren {
    img {
        width: 100%;
        display: none;
        padding: $spacer;
    }
}

.align{
    position: relative;

    .bottom{
        position: absolute;
        bottom: $spacer;
        left: $spacer;
        right: $spacer;
        transition: opacity .3s ease;
    }
}

@media (max-width: 1000px) {
    .columns {
        display: block;
    }

    .col {
        height: auto;
        padding: $spacer-m;
    }

    .ren {
        .bg{
            background: none;
        }

        img {
            display: block;
        }
    }

    .align .bottom{
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
    }

    .js-info{
        position: absolute  !important;
        left: $spacer-m  !important;
        right: $spacer-m  !important;
        bottom: $spacer-m  !important;

    }
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

li{
    list-style: disc;
    margin-bottom: 1rem;
}

.mute{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;

    svg{
        width: 100%;
    }

    g{
        fill: $pink
    }
}