@font-face {
    font-family: 'bast';
    src: url('fonts/bast.woff2') format('woff2'),
         url('fonts/bast.woff') format('woff');
  }


body{
    color: $pink;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
    font-size: 20px;

    @media (max-width: 1000px) {
        font-size: 16px;
    }
}

small{
    font-size: 50%;
}

a{
    color: $pink;
}

h1{
    font-family: 'bast', Fallback, sans-serif;
    font-size: 5rem;
    margin-bottom: 1rem;

    @media (max-width: 1000px) {
        font-size: 3rem;
    }
}

p, 
li,
a{
    line-height: 1.4em;
}

p,
li{
    margin-bottom: 1.5rem;
}

a{
    display: inline-block;
}

ul{
    padding-left: 2rem;
    margin-bottom: 2rem;
}